{% extends "admin/base.html" %}
{% load static %}

{% load django_tables2 %}
{% block content %}
{{ block.super}}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Detail</h3>
    </div>
    <div class="box-body">

        {% render_table table %}

        <a class="btn btn-primary" href="{% url 'todos_todo_create' %}">Create new Todo</a>

    </div>

</div>
{% endblock %}

{% block modal %}
    {% include 'modal/confirmation_modal.html' %}
{% endblock %}


{% block javascript %}
    {{ block.super }}
     <script src="{% static 'site/js/modal.js' %}"></script>
{% endblock %}