{% extends "admin/base.html" %}
{% load static %}
{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Detail</h3>
    </div>
    <div class="box-body">
        <p><a class="btn btn-default" href="{% url 'todos_todo_list' %}">Todo Listing</a></p>
        <table class="table">
            <tr>
                <td>title</td>
                <td>{{ object.title }}</td>
            </tr>
            <tr>
                <td>slug</td>
                <td>{{ object.slug }}</td>
            </tr>
            <tr>
                <td>created</td>
                <td>{{ object.created }}</td>
            </tr>
            <tr>
                <td>last_updated</td>
                <td>{{ object.last_updated }}</td>
            </tr>
            <tr>
                <td>description</td>
                <td>{{ object.description }}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Todo</a>

    </div>
</div>
{% endblock %}